.service {
    height: 700px;
    background-color: #C0C0C0;
    justify-content: space-between;

    @include overTab {
        display: flex;
        flex-flow: column wrap-reverse;
        height: 600px;
    }

    .service-wrap {
        padding-top: 50px;
        position: relative;
        z-index: 3;
        @include overTab {
            display: flex;
            flex-flow: column wrap-reverse;
        }
    }

    .service-under {
        text-align: center;
        position: relative;

        @media screen and (min-width: 500px) {
            margin-left: 30px;
        }
    }

    .service-item {
        display: flex;
        font-size: 22px;
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
        z-index: 3;
        margin-left: 10px;
        main {
            @media screen and (min-width: 400px) {
                margin-left: 20px;
            }
            @media screen and (min-width: 500px) {
                margin-left: 40px;
                margin-right: 20px;
            }
        }
        sub {
            margin-left: 10px;
            @media screen and (min-width: 400px) {
                margin-left: 20px;
            }
            @media screen and (min-width: 500px) {
                margin-left: 40px;
            }
        }
    }

    .service-img {
        height: 200px;
        width: 300px;
        border-radius: 20px;
        margin-top: 50px;
        margin-left: 50px;
        position: relative;
        z-index: 3;

        @include overTab {
            height: 400px;
            width: 550px;
        }
    }
}

.squ{
    height: 0px;

    .square {
        position: relative;
        height: 200px;
        width: 200px;
        background: linear-gradient(to bottom, #FFFDE5, #F4E800);
        opacity: 0.8;
        z-index: 1;
        transform: rotate(-35deg);
        top: -480px;
        left: 100px;

        @include overTab {
            height: 400px;
            width: 400px;
            top: -490px;
        }

        @media screen and (min-width: 900px) {
            top: -500px;
            left: 500px;
        }

        @media screen and (min-width: 1200px) {
            top: -500px;
            left: 850px;
            transform: rotate(-32deg);
        }
    }
}

.help {
    h2 {
        justify-content: center;
        text-align: center;
        font-size: 22px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .help-wrap {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .help-items {
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .5);
        margin: 0 30px 30px 30px;
        position: relative;

        img {
            width: 100%;
        }
    }

    .help-intro {
        width: 85%;
        margin: 0 auto;

        h4 {
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            padding-bottom: 10px;
        }

        p {
            padding-bottom: 15px;
        }
    }

    @media screen and (min-width:500px) {
        /*コース一覧*/
        .help-items {
            width: 70%;
            height: 50%;
        }
    }

    @media screen and (min-width:800px) {
        /*コース一覧*/
        .help-wrap {
            display: flex;
            justify-content: center;
            flex-wrap:wrap;
        }
        .help-items {
            width: 40%;
            height: 50%;
        }
    }

    @media screen and (min-width:1200px) {
        /*コース一覧*/
        .help-wrap {
            display: flex;
            justify-content: center;
        }
        .help-items {
            width: 20%;
            height: 50%;
        }
    }
}
