.work2 {
    margin-top: 80px;

    .work-sentence {
        text-align: center;
        margin: 30px auto;
        font-size: 24px;
    }

    .work-wrap {
        text-align: center;
        justify-content: center;
        padding-top: 20px;

        @include overTab {
            display: flex;
        }
    }
/*
    .work2-wrap {
        text-align: center;
        justify-content: center;
        padding-top: 20px;

        @include overTab {
            display: flex;
        }
    }

    .work3-wrap {
        text-align: center;
        justify-content: center;
        padding-top: 20px;

        @include overTab {
            display: flex;
        }
    }
*/

    .work-item {
        margin: 20px;
        .title {
            font-size: 20px;
        }
        .work-sub {
            font-size: 16px;
        }
    }

    .work-img {
        height: 400px;
        width: 280px;
        margin: auto;
    }

    .work-img:hover {
        opacity: 0.8;
    }
}

.voice {
    text-align: center;

    .coco-site {
        margin-top: 30px;
        text-align: center;
        font-size: 20px;
    }

    p {
        padding: 20px;
    }
}