.footer {
    background-color: black;
    color: white;

    h1 {
        text-align: center;
        font-family: 'Permanent Marker', cursive;
        font-size: 36px;
        padding-top: 20px;
    }

    .footer-list {
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;

        .footer-item {
            @include overTab {
                margin: 0 20px;
            }
        }

        a {
            @include overTab {
                color: white;
                font-size: 20px;
            }
        }
    }

    .copyright {
        position: relative;
        text-align: center;
        top: 75%;
        font-size: smaller;
        padding-bottom: 10px;
    }
}